<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="documentIntention">
      <h2 data-cy="documentIntentionDetailsHeading"><span>Document Intention</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ documentIntention.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ documentIntention.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ documentIntention.description }}</span>
        </dd>
        <dt><span>Change Indicator</span></dt>
        <dd>
          <span>{{ documentIntention.changeIndicator }}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
          <span>{{ documentIntention.type }}</span>
        </dd>
        <dt><span>Subtype</span></dt>
        <dd>
          <span>{{ documentIntention.subtype }}</span>
        </dd>
        <dt><span>Group</span></dt>
        <dd>
          <span>{{ documentIntention.group }}</span>
        </dd>
        <dt><span>Sheet</span></dt>
        <dd>
          <span>{{ documentIntention.sheet }}</span>
        </dd>
        <dt><span>Release Package</span></dt>
        <dd>
          <span *ngFor="let releasePackage of documentIntention.releasePackages; let last = last">
            <a [routerLink]="['/release-package', releasePackage?.id, 'view']">{{ releasePackage.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/jhipstersampleapplication/document-intention', documentIntention.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
