<div>
  <h2 id="page-heading" data-cy="ImpactMatrixHeading">
    <span>Impact Matrices</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-impact-matrix"
        [routerLink]="['/jhipstersampleapplication/impact-matrix/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Impact Matrix </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="impactMatrices?.length === 0">
    <span>No impactMatrices found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="impactMatrices && impactMatrices.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Impact Matrix Number</span></th>
          <th scope="col"><span>Status</span></th>
          <th scope="col"><span>Revision</span></th>
          <th scope="col"><span>Reviser</span></th>
          <th scope="col"><span>Revision Description</span></th>
          <th scope="col"><span>Date Revised</span></th>
          <th scope="col"><span>Title</span></th>
          <th scope="col"><span>Is Auto Layout Enabled</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let impactMatrix of impactMatrices; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/jhipstersampleapplication/impact-matrix', impactMatrix.id, 'view']">{{ impactMatrix.id }}</a>
          </td>
          <td>{{ impactMatrix.impactMatrixNumber }}</td>
          <td>{{ impactMatrix.status }}</td>
          <td>{{ impactMatrix.revision }}</td>
          <td>{{ impactMatrix.reviser }}</td>
          <td>{{ impactMatrix.revisionDescription }}</td>
          <td>{{ impactMatrix.dateRevised }}</td>
          <td>{{ impactMatrix.title }}</td>
          <td>{{ impactMatrix.isAutoLayoutEnabled }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/impact-matrix', impactMatrix.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/impact-matrix', impactMatrix.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(impactMatrix)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
