<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-document-heading" data-cy="DocumentCreateUpdateHeading">Create or edit a Document</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_documentSource">Document Source</label>
          <select
            class="form-control"
            id="field_documentSource"
            data-cy="documentSource"
            name="documentSource"
            formControlName="documentSource"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                documentSourceOption.id === editForm.get('documentSource')!.value?.id
                  ? editForm.get('documentSource')!.value
                  : documentSourceOption
              "
              *ngFor="let documentSourceOption of documentSourcesCollection; trackBy: trackDocumentSourceById"
            >
              {{ documentSourceOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_documentIntention">Document Intention</label>
          <select
            class="form-control"
            id="field_documentIntention"
            data-cy="documentIntention"
            name="documentIntention"
            formControlName="documentIntention"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                documentIntentionOption.id === editForm.get('documentIntention')!.value?.id
                  ? editForm.get('documentIntention')!.value
                  : documentIntentionOption
              "
              *ngFor="let documentIntentionOption of documentIntentionsCollection; trackBy: trackDocumentIntentionById"
            >
              {{ documentIntentionOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label for="field_itemReferences">Item Reference</label>
          <select
            class="form-control"
            id="field_itemReferences"
            data-cy="itemReference"
            multiple
            name="itemReferences"
            formControlName="itemReferences"
          >
            <option
              [ngValue]="getSelectedItemReference(itemReferenceOption, editForm.get('itemReferences')!.value)"
              *ngFor="let itemReferenceOption of itemReferencesSharedCollection; trackBy: trackItemReferenceById"
            >
              {{ itemReferenceOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_impactMatrix">Impact Matrix</label>
          <select class="form-control" id="field_impactMatrix" data-cy="impactMatrix" name="impactMatrix" formControlName="impactMatrix">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                impactMatrixOption.id === editForm.get('impactMatrix')!.value?.id ? editForm.get('impactMatrix')!.value : impactMatrixOption
              "
              *ngFor="let impactMatrixOption of impactMatricesSharedCollection; trackBy: trackImpactMatrixById"
            >
              {{ impactMatrixOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_documentType">Document Type</label>
          <select class="form-control" id="field_documentType" data-cy="documentType" name="documentType" formControlName="documentType">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                documentTypeOption.id === editForm.get('documentType')!.value?.id ? editForm.get('documentType')!.value : documentTypeOption
              "
              *ngFor="let documentTypeOption of documentTypesSharedCollection; trackBy: trackDocumentTypeById"
            >
              {{ documentTypeOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
