<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-release-package-heading" data-cy="ReleasePackageCreateUpdateHeading">Create or edit a Release Package</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_title">Title</label>
          <input type="text" class="form-control" name="title" id="field_title" data-cy="title" formControlName="title" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_releasePackageNumber">Release Package Number</label>
          <input
            type="text"
            class="form-control"
            name="releasePackageNumber"
            id="field_releasePackageNumber"
            data-cy="releasePackageNumber"
            formControlName="releasePackageNumber"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_releasePackageTitle">Release Package Title</label>
          <input
            type="text"
            class="form-control"
            name="releasePackageTitle"
            id="field_releasePackageTitle"
            data-cy="releasePackageTitle"
            formControlName="releasePackageTitle"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_ecn">Ecn</label>
          <input type="text" class="form-control" name="ecn" id="field_ecn" data-cy="ecn" formControlName="ecn" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
