<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-part-heading" data-cy="PartCreateUpdateHeading">Create or edit a Part</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_status">Status</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_changeIndication">Change Indication</label>
          <input
            type="checkbox"
            class="form-check"
            name="changeIndication"
            id="field_changeIndication"
            data-cy="changeIndication"
            formControlName="changeIndication"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_isParentPartBomChanged">Is Parent Part Bom Changed</label>
          <input
            type="checkbox"
            class="form-check"
            name="isParentPartBomChanged"
            id="field_isParentPartBomChanged"
            data-cy="isParentPartBomChanged"
            formControlName="isParentPartBomChanged"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_partSource">Part Source</label>
          <select class="form-control" id="field_partSource" data-cy="partSource" name="partSource" formControlName="partSource">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                partSourceOption.id === editForm.get('partSource')!.value?.id ? editForm.get('partSource')!.value : partSourceOption
              "
              *ngFor="let partSourceOption of partSourcesCollection; trackBy: trackPartSourceById"
            >
              {{ partSourceOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_partIntention">Part Intention</label>
          <select
            class="form-control"
            id="field_partIntention"
            data-cy="partIntention"
            name="partIntention"
            formControlName="partIntention"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                partIntentionOption.id === editForm.get('partIntention')!.value?.id
                  ? editForm.get('partIntention')!.value
                  : partIntentionOption
              "
              *ngFor="let partIntentionOption of partIntentionsCollection; trackBy: trackPartIntentionById"
            >
              {{ partIntentionOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_impactMatrix">Impact Matrix</label>
          <select class="form-control" id="field_impactMatrix" data-cy="impactMatrix" name="impactMatrix" formControlName="impactMatrix">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                impactMatrixOption.id === editForm.get('impactMatrix')!.value?.id ? editForm.get('impactMatrix')!.value : impactMatrixOption
              "
              *ngFor="let impactMatrixOption of impactMatricesSharedCollection; trackBy: trackImpactMatrixById"
            >
              {{ impactMatrixOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
