<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="document">
      <h2 data-cy="documentDetailsHeading"><span>Document</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ document.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ document.title }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ document.status }}</span>
        </dd>
        <dt><span>Document Source</span></dt>
        <dd>
          <div *ngIf="document.documentSource">
            <a [routerLink]="['/document-source', document.documentSource?.id, 'view']">{{ document.documentSource?.id }}</a>
          </div>
        </dd>
        <dt><span>Document Intention</span></dt>
        <dd>
          <div *ngIf="document.documentIntention">
            <a [routerLink]="['/document-intention', document.documentIntention?.id, 'view']">{{ document.documentIntention?.id }}</a>
          </div>
        </dd>
        <dt><span>Item Reference</span></dt>
        <dd>
          <span *ngFor="let itemReference of document.itemReferences; let last = last">
            <a [routerLink]="['/item-reference', itemReference?.id, 'view']">{{ itemReference.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>Impact Matrix</span></dt>
        <dd>
          <div *ngIf="document.impactMatrix">
            <a [routerLink]="['/impact-matrix', document.impactMatrix?.id, 'view']">{{ document.impactMatrix?.id }}</a>
          </div>
        </dd>
        <dt><span>Document Type</span></dt>
        <dd>
          <div *ngIf="document.documentType">
            <a [routerLink]="['/document-type', document.documentType?.id, 'view']">{{ document.documentType?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/jhipstersampleapplication/document', document.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
