<div>
  <h2 id="page-heading" data-cy="BomSourceHeading">
    <span>Bom Sources</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-bom-source"
        [routerLink]="['/jhipstersampleapplication/bom-source/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Bom Source </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="bomSources?.length === 0">
    <span>No bomSources found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="bomSources && bomSources.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Type</span></th>
          <th scope="col"><span>Bom Child</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bomSource of bomSources; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/jhipstersampleapplication/bom-source', bomSource.id, 'view']">{{ bomSource.id }}</a>
          </td>
          <td>{{ bomSource.type }}</td>
          <td>
            <span *ngFor="let bomChild of bomSource.bomChildren; let last = last">
              <a class="form-control-static" [routerLink]="['/bom-child', bomChild.id, 'view']">{{ bomChild.id }}</a
              >{{ last ? '' : ', ' }}
            </span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/bom-source', bomSource.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/bom-source', bomSource.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(bomSource)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
