<div>
  <h2 id="page-heading" data-cy="PartHeading">
    <span>Parts</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-part"
        [routerLink]="['/jhipstersampleapplication/part/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Part </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="parts?.length === 0">
    <span>No parts found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="parts && parts.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Status</span></th>
          <th scope="col"><span>Change Indication</span></th>
          <th scope="col"><span>Is Parent Part Bom Changed</span></th>
          <th scope="col"><span>Part Source</span></th>
          <th scope="col"><span>Part Intention</span></th>
          <th scope="col"><span>Impact Matrix</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let part of parts; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/jhipstersampleapplication/part', part.id, 'view']">{{ part.id }}</a>
          </td>
          <td>{{ part.status }}</td>
          <td>{{ part.changeIndication }}</td>
          <td>{{ part.isParentPartBomChanged }}</td>
          <td>
            <div *ngIf="part.partSource">
              <a [routerLink]="['/part-source', part.partSource?.id, 'view']">{{ part.partSource?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="part.partIntention">
              <a [routerLink]="['/part-intention', part.partIntention?.id, 'view']">{{ part.partIntention?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="part.impactMatrix">
              <a [routerLink]="['/impact-matrix', part.impactMatrix?.id, 'view']">{{ part.impactMatrix?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/part', part.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/jhipstersampleapplication/part', part.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(part)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
