<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="releasePackage">
      <h2 data-cy="releasePackageDetailsHeading"><span>Release Package</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ releasePackage.id }}</span>
        </dd>
        <dt><span>Title</span></dt>
        <dd>
          <span>{{ releasePackage.title }}</span>
        </dd>
        <dt><span>Release Package Number</span></dt>
        <dd>
          <span>{{ releasePackage.releasePackageNumber }}</span>
        </dd>
        <dt><span>Release Package Title</span></dt>
        <dd>
          <span>{{ releasePackage.releasePackageTitle }}</span>
        </dd>
        <dt><span>Status</span></dt>
        <dd>
          <span>{{ releasePackage.status }}</span>
        </dd>
        <dt><span>Ecn</span></dt>
        <dd>
          <span>{{ releasePackage.ecn }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button
        type="button"
        [routerLink]="['/jhipstersampleapplication/release-package', releasePackage.id, 'edit']"
        class="btn btn-primary"
      >
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
